{% include 'base.html' %}

{% load static %}

{% block title %}
    <title>Upload Csv File</title>
{% endblock title %}

{% block csss %}
<style type="text/css">
    legend{
            font-size: 2rem;
            font-weight: 600;
            background: -webkit-linear-gradient(#191922,#17a2b8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
       
        label{
            color: #97B4B4;
        }
        div{
            color: #97B4B4;
        }
        select,select:focus{
            background-color: #101316;
            color: #fff;
        }
        option,option:focus{
            background-color: #101316;
            color: #fff;
        }

</style>
{% endblock csss %}

{% load crispy_forms_tags %}
{% block container %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 main-t">Add File to Get an Overview</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Add File
                </button>
            </div>
        </form>
    </div>

</div>




{% endblock container %}




