{% include 'base.html' %}

{% load static %}

{% block title %}
    <title>View DataFrame</title>
{% endblock title %}

{% block csss %}
<style type="text/css">
    
</style>
{% endblock csss %}


{% block container %}
<div class="container mt-4 p-2">
    <div class="d-flex justify-content-center">
        <h3 class="h3">Overview of the dataSet</h3>
    </div>
</div>
<div class="w-100">
    {{ df|safe }}
</div>
<div class="container">
    

    <div class="container mt-4 p-2">
        <div class="d-flex justify-content-center">
            <h3 class="h3 text-dark">
                Data Fields in the dataSet 
            </h3>
        </div>
        <div class="d-flex justify-content-center">
            <ul class="list-group w-100">
                <li class="list-group-item d-flex text-uppercase font-weight-bold justify-content-between align-items-center w-100">
                    Data Field
                    <span class="badge badge-primary badge-pill text-uppercase font-weight-bold">Data Type</span>
                </li>
                {% for key, value in fields.items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center w-100">
                        {{ key }}
                        <span class="badge badge-primary badge-pill">{{ value }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container mt-4 p-2">
        <div class="d-flex justify-content-center">
            <h3 class="h3 text-dark">
                GRU Based Graph Model 
            </h3>
        </div>
        <div class="d-flex justify-content-center">
            <img class="img-fluid center-block" src="{% static 'model.png' %}" alt="Model Overview">
        </div>
    </div>

    <div class="container mt-4 p-2">
        <div class="d-flex justify-content-center">
            <h3 class="h3 text-dark">
                Metrics used for Compilation of Models
            </h3>
        </div>
        <div class="d-flex justify-content-center">
            <ul class="list-group w-100">
                {% for values in metrics %}
                    <li class="list-group-item w-100 font-weight-bold">{{ values }}</li>
                {% endfor %}
            </ul>
            
        </div>
    </div>

    <div class="container mt-4 p-2">
        <div class="d-flex justify-content-center">
            <h3 class="h3 text-dark">
                LSTM Based Graph Model
            </h3>
        </div>
        <div class="d-flex justify-content-center">
            <img class="img-fluid center-block" src="{% static 'modelLS.png' %}" alt="Model Overview">
        </div>
    </div>



</div>




{% endblock container %}




